PGUSER=your_pg_username
PGPASSWORD=your_pg_password
PGDATABASE=openjob
PGHOST=localhost
PGPORT=5432

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USER=your_email@example.com
MAIL_PASSWORD=your_email_password
